.page-body {
  background: url(https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Admin-Layout%2Fadmin-login-bg.png?alt=media&token=22727569-a499-4ac8-9769-47f82f386ce7);
  background-size: 100%;
  background-color: #fee1be !important;
}

.container-form {
  width: 30vw;
}
