<div class="page-body bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8" class="container-form">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <h1 class="pb-4">Đăng nhập</h1>
              <!-- <p class="text-medium-emphasis">Sign In to your account</p> -->
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                  autoComplete="username"
                  cFormControl
                  placeholder="Username"
                  [(ngModel)]="userEmail"
                />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  autoComplete="current-password"
                  cFormControl
                  placeholder="Password"
                  type="password"
                  [(ngModel)]="userPassword"
                />
              </c-input-group>
              <div
                class="mb-2 text-center"
                *ngIf="
                  (loginForm.get('userPassword').invalid &&
                    (loginForm.get('userPassword').dirty ||
                      loginForm.get('userPassword').touched)) ||
                  isWrongLogin
                "
              >
                <small class="text-danger" *ngIf="isWrongLogin"
                  >Email hoặc mật khẩu chưa đúng</small
                >
              </div>
              <c-row class="d-flex justify-content-center">
                <button
                  cButton
                  class="px-4 btn btn-primary"
                  color="primary"
                  (click)="login()"
                >
                  Đăng nhập
                </button>
              </c-row>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
