<div class="container">
  <span
    class="mx-auto my-2 d-flex justify-content-center align-items-center rounded-3"
  >
    <label class="custom-file-upload rounded-3">
      <input
        type="file"
        accept="image/png, image/jpeg"
        id="avatarInput"
        (change)="selectedAvatar($event)"
      />
      <img
        *ngIf="!fund"
        src="https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fimage-holder-icon.png?alt=media&token=2bc0bac5-ea17-4dd9-8c9e-4813316da679
        "
        id="imgInput"
        class="w-100 rounded-3"
      />

      <img
        *ngIf="fund"
        src="{{
          fund.fundCover
            ? fund.fundCover
            : 'https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fimage-holder-icon.png?alt=media&token=2bc0bac5-ea17-4dd9-8c9e-4813316da679'
        }}"
        id="imgInput"
        class="w-100 rounded-3"
      />
    </label>
  </span>
  <span class="p-float-label my-2">
    <h6 class="addressLabel ps-0">Tên quỹ</h6>
    <input
      class="inputtext px-2 py-1 w-100 rounded-2 border border-1"
      [(ngModel)]="fund.fundName"
      type="text"
    />
  </span>
  <span class="p-float-label my-2">
    <h6 class="addressLabel ps-0">Loại quỹ</h6>
    <input
      class="inputtext px-2 py-1 w-100 rounded-2 border border-1"
      [(ngModel)]="fund.fundType"
      type="text"
    />
  </span>
  <span class="p-float-label my-2">
    <h6 class="addressLabel ps-0">Số tiền mỗi gói</h6>
    <input
      class="inputtext px-2 py-1 w-100 rounded-2 border border-1"
      [(ngModel)]="fund.valuePerDonationPackage"
      type="number"
    />
  </span>
  <span class="w-100 pt-1">
    <h6 class="addressLabel ps-0">Mô tả</h6>
    <textarea
      class="w-100 rounded-2 border border-1 px-2"
      id="textarea"
      [(ngModel)]="fund.fundDescription"
      pInputTextarea
      [autoResize]="true"
    ></textarea>
  </span>
  <div class="button-group d-flex justify-content-center mt-4">
    <button type="submit" class="btn btn-primary text-nowrap" *ngIf="!fund">
      Thêm
    </button>
    <button type="submit" class="btn btn-primary text-nowrap" *ngIf="fund">
      Cập nhật
    </button>
  </div>
</div>
