<div class="container">
  <span
    class="mx-auto my-2 d-flex justify-content-center align-items-center rounded-3"
  >
    <label class="custom-file-upload rounded-3">
      <input
        type="file"
        accept="image/png, image/jpeg"
        id="avatarInput"
        (change)="selectedAvatar($event)"
      />
      <img
        src="{{
          fund
            ? fund.fundCover
              ? fund.fundCover
              : 'https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fimage-holder-icon.png?alt=media&token=2bc0bac5-ea17-4dd9-8c9e-4813316da679'
            : 'https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fimage-holder-icon.png?alt=media&token=2bc0bac5-ea17-4dd9-8c9e-4813316da679'
        }}"
        id="imgInput"
        class="w-100 rounded-3"
      />
    </label>
  </span>
  <span class="p-float-label my-2">
    <h6 class="addressLabel ps-0">Tên quỹ</h6>
    <input
      class="inputtext px-2 py-1 w-100 rounded-2 border border-1"
      [(ngModel)]="fund.fundName"
      type="text"
    />
  </span>

  <span class="p-float-label my-2">
    <h6 class="addressLabel ps-0">Loại quỹ</h6>
    <select
      class="form-select"
      aria-label="Chọn loại quỹ"
      [(ngModel)]="selectedFundType"
    >
      <option
        *ngFor="let fundType of listFundTypes"
        [ngValue]="fundType"
        [selected]="fundType.id === selectedFundType.id"
      >
        {{ fundType.value }}
      </option>
    </select>
  </span>
  <span class="p-float-label my-2">
    <h6 class="addressLabel ps-0">Số tiền mỗi gói (VND)</h6>

    <p-inputNumber
      inputId="integeronly"
      [(ngModel)]="fund.valuePerDonationPackage"
    >
    </p-inputNumber>
  </span>
  <span class="w-100 pt-1">
    <h6 class="addressLabel ps-0">Mô tả</h6>
    <textarea
      class="w-100 rounded-2 border border-1 px-2"
      id="textarea"
      [(ngModel)]="fund.fundDescription"
      pInputTextarea
      [autoResize]="true"
    ></textarea>
  </span>

  <div class="table-wrapper position-relative">
    <h6 class="addressLabel ps-0 my-3">Các giao dịch liên quan đến quỹ</h6>
    <div
      *ngIf="isLoading"
      class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
    >
      <div class="spinner-border" role="status">
        <span class="sr-only">Đang tải...</span>
      </div>
      <p style="opacity: 0.7">Đang tải</p>
    </div>
    <p-table
      #dt
      [value]="fundTransactionsList"
      [paginator]="true"
      dataKey="id"
      [rows]="10"
      styleClass="p-datatable-striped"
      selectionMode="single"
      emptyMessage="Chưa có giao dịch nào"
      [tableStyle]="{ 'min-width': '25rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 10%" class="py-3 ps-4">Bên gửi</th>
          <th style="min-width: 10%" class="py-3">Bên nhận</th>
          <th
            style="min-width: 10%"
            class="py-3 text-center"
            pSortableColumn="value"
          >
            Giá trị giao dịch <p-sortIcon field="value"></p-sortIcon>
          </th>

          <th style="min-width: 10%" class="py-3" pSortableColumn="date">
            Ngày giao dịch <p-sortIcon field="date"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr class="p-selectable-row">
          <td class="ps-4">
            {{
              request.transactionType === "USER_TO_FUND"
                ? request.user.userFirstName + " " + request.user.userLastName
                : request.fund.fundName
            }}
          </td>
          <td>
            {{
              request.transactionType === "USER_TO_FUND"
                ? request.fund.fundName
                : request.user.userFirstName + " " + request.user.userLastName
            }}
          </td>
          <td class="text-center">
            <p-tag
              [value]="
                (request.transactionType == 'USER_TO_FUND'
                  ? request.value.toLocaleString()
                  : '-' + request.value.toLocaleString()) + ' VND'
              "
              [severity]="getSeverity(request.transactionType)"
            ></p-tag>
          </td>
          <td>{{ request.date | date : "dd/mm/yyy" }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Hiện tại chưa có giao dịch nào</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="button-group d-flex justify-content-center mt-4">
    <button
      type="submit"
      class="btn btn-primary text-nowrap"
      *ngIf="!fund.fundID"
      (click)="addNewFund()"
    >
      Thêm
    </button>
    <button
      type="submit"
      class="btn btn-secondary text-nowrap mt-3 me-3"
      *ngIf="fund.fundID"
      (click)="deleteFund()"
    >
      Xoá
    </button>
    <button
      type="submit"
      class="btn btn-primary text-nowrap mt-3"
      *ngIf="fund.fundID"
      (click)="updateFund()"
    >
      Cập nhật
    </button>
  </div>
  <p-toast key="fund" [preventOpenDuplicates]="true"></p-toast>
</div>
