<app-widgets-dropdown
  *ngIf="pageStat"
  [pageStat]="pageStat"
></app-widgets-dropdown>

<c-card class="mb-4 w-50">
  <h3 class="text-center mt-2"></h3>
  <c-card-body>
    <c-chart
      [data]="shelterChartData"
      type="line"
      [ngStyle]="{ 'marginTop.px': 40 }"
      title="Tổng quỹ trong trại"
    >
      Main chart
    </c-chart>
  </c-card-body>
</c-card>
<c-card class="mb-4 w-50">
  <h3 class="text-center mt-2"></h3>
  <c-card-body>
    <c-chart
      [data]="petChartData"
      type="line"
      [ngStyle]="{ 'marginTop.px': 40 }"
      title="Tổng quỹ trong trại"
    >
      Main chart
    </c-chart>
  </c-card-body>
</c-card>
<c-card class="mb-4">
  <h3 class="text-center mt-2">Tổng quỹ cứu trợ</h3>
  <c-card-body>
    <c-chart
      [data]="fundChartData"
      type="bar"
      [ngStyle]="{ 'marginTop.px': 40 }"
      title="Tổng quỹ trong trại"
    >
    </c-chart>
  </c-card-body>
</c-card>
