<c-row>
  <c-col sm="6" xl="3">
    <c-widget-stat-a class="mb-4 pb-2" color="warning" title="Người dùng">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ pageStat.totalNumbersOfUser }}
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a class="mb-4 pb-2" color="info" title="Trại cứu trợ">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ pageStat.totalNumbersOfShelter }}
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a class="mb-4 pb-2" color="danger" title="Chó mèo ">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ pageStat.totalNumbersOfAnimal }}
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a class="mb-4 pb-2" color="success" title="Số dư quỹ">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ pageStat.totalFundBalance.toLocaleString() + " VND" }}
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
